@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
body{
    background: url("./images/background.jpg");
}
*{
font-family: 'Bruno Ace', cursive;
}
.bannerBgImage{
    height:100vh;
    background: url("./images/middle.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: orange;
}

.bannerTitle{
    font-size: 4rem;
}
.bannerDesc{
    font-size: 2rem;
}
.card{
    cursor: pointer;
}
.card:hover{
    background-color: yellow;
    border: 5px solid blue;
}
.BIcon{
    width:100%;
    text-align: center;
    font-size: 40px;
}
.img-fluid:hover{
    border: 10px solid pink;
}
.card-img-top{
    height:50vh;
}
